.footer {
    height: 550px;
    background: black;
    color: white;

    &__descr {
        height: 199px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E4E4E4;
    }

    &__title {
        font-size: 42px;
        span {
            color: #FFAC12;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 90px 0 90px 0;
    }
}

.footer__wrapper_main {
    width: 130px;
    margin-right: 270px;

    &_social {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        a:hover {
            svg path {
                fill: #FFAC12;
            }
        }
    }
}

.footer__nav {
    display: flex;
    flex-direction: column;

    &_header {
        color: white;
        font-weight: 700;
        font-size: 15px;
        text-decoration: none;
    }

    &_link {
        margin-top: 10px;
        color: #E4E4E4;
        font-size: 15px;
        text-decoration: none;
    }
}

.item-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #E4E4E4;
    color: black;

    &_elem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 59px;
        border-right: 1px solid #E4E4E4;
        &:last-child {
            border-right: none;
        }

        span {
            margin-left: 10px;
            font-weight: bold;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.427179px;
        }
    }
}

.item-footer-long__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-top: 1px solid #E4E4E4;
    color: black;
}

