.ghands {
    height: 550px;
    z-index: 0;

    &__wrapper {
        width: 1240px;
        display: flex;
    }

    &__img {
        background: url("../img/ghands.png") no-repeat 50%/cover;
        width: 700px;
        height: 700px;
        z-index: 10;
    }

    &__descr {
        padding: 90px 0 0 50px;
    }

    &__divider {
        @include divider;
    }

    &__title {
        margin-top: 20px; 
    }

    &__txt {
        margin-top: 20px;
        font-size: 20px;
        line-height: 28px;
        opacity: 0.6;
        width: 430px;
    }

    &__btn {
        margin-top: 30px;
    }
    

}