.title {
    font-size: 50px;
    line-height: 65px;
    letter-spacing: -1.25641px;
    font-weight: 700;
}

.house-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.603077px;
    text-align: center;
}